## Asignment May 1

1. Install Jupyter notebook and run the first program and share the screenshot of the output.

### Task 1

 2. Write a program which will find all such numbers which are divisible by 7 
but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
numbers=[]
for i in range(2000,2200):
    if i%5  !=0 :
     numbers.append(i)
    else:
      continue
    

#Updated List
print('Updated numbers list: ', numbers)

Updated numbers list:  [2001, 2002, 2003, 2004, 2006, 2007, 2008, 2009, 2011, 2012, 2013, 2014, 2016, 2017, 2018, 2019, 2021, 2022, 2023, 2024, 2026, 2027, 2028, 2029, 2031, 2032, 2033, 2034, 2036, 2037, 2038, 2039, 2041, 2042, 2043, 2044, 2046, 2047, 2048, 2049, 2051, 2052, 2053, 2054, 2056, 2057, 2058, 2059, 2061, 2062, 2063, 2064, 2066, 2067, 2068, 2069, 2071, 2072, 2073, 2074, 2076, 2077, 2078, 2079, 2081, 2082, 2083, 2084, 2086, 2087, 2088, 2089, 2091, 2092, 2093, 2094, 2096, 2097, 2098, 2099, 2101, 2102, 2103, 2104, 2106, 2107, 2108, 2109, 2111, 2112, 2113, 2114, 2116, 2117, 2118, 2119, 2121, 2122, 2123, 2124, 2126, 2127, 2128, 2129, 2131, 2132, 2133, 2134, 2136, 2137, 2138, 2139, 2141, 2142, 2143, 2144, 2146, 2147, 2148, 2149, 2151, 2152, 2153, 2154, 2156, 2157, 2158, 2159, 2161, 2162, 2163, 2164, 2166, 2167, 2168, 2169, 2171, 2172, 2173, 2174, 2176, 2177, 2178, 2179, 2181, 2182, 2183, 2184, 2186, 2187, 2188, 2189, 2191, 2192, 2193, 2194, 2196, 2197, 2198, 2199]

Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [3]:
first=input("enter first name")
last=input("surname")
#first="Anjan"
#last="Dasgupta"

print(first[-1: :-1],last[-1: :-1])

enter first nameAnjan
surnameDasgupta
 najnA  atpugsaD

Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: $V=4/3 * \pi * r ^3$

In [4]:
r=float(input("enter the radius"))
v=(4.0/3.0)*(3.414)*(r*r*r)
print(v)

enter the radius1.0
4.552

### Task2

1. Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [9]:
s = input ("Enter comma separated integers: ")
l=len(s)
print(type(s),s)

Enter comma separated integers: 1,2,3,4
<class 'str'> 1,2,3,4

2. Create the below pattern using nested for loop in Python.
      *
      **
      ***
      ****
      *****
      ****
      ***
      **
      *

In [10]:
m = ""

for i in range(10):
  m=m+"*"
  if i>4:
   m=m[0:10-i-1]
  print(i,m)

0 *
1 **
2 ***
3 ****
4 *****
5 ****
6 ***
7 **
8 *
9